name: 'Terraform Apply'

on:
  workflow_call:
    inputs:
      workflow:
        description: 'Which workflow step to run.'
        required: false
        type: string
        default: ''
      runs-on:
        description: 'Agent selection string.'
        required: false
        default: 'ubuntu-latest'
        type: string
      aws-assume-role-arn:
        description: 'The AWS Role ARN to assume for Terraform operations.'
        required: true
        type: string
      aws-assume-role-region:
        description: 'The AWS region to assume IAM in for Terraform operations.'
        required: true
        type: string
      tailscale:
        description: 'Should the job connect to Tailscale.'
        required: false
        type: boolean
        default: false
    secrets:
      terraform-registry-token:
        description: 'Terraform registry token to authorize Terraform operations.'
        required: false
      terraform-env-vars:
        description: 'Environment variables to inject into Terraform operations.'
        required: false
      tailscale-client-id:
        description: 'Your Tailscale OAuth Client ID.'
        required: false
      tailscale-secret:
        description: 'Your Tailscale OAuth Client Secret.'
        required: false
      tailscale-tags:
        description: 'Comma separated list of Tags to be applied to nodes. The OAuth client must have permission to apply these tags.'
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  terraform-apply:
    name: 'Terraform Apply'
    defaults:
      run:
        shell: bash
        working-directory: './${{ inputs.workflow }}'
    runs-on: ${{ inputs.runs-on }}
    env:
      TF_IN_AUTOMATION: true
    steps:
      - name: Sanity check
        if: github.ref != 'refs/heads/main'
        run: echo 'Not running against 'main' branch, exiting.' && exit 1
      - name: Checkout
        uses: actions/checkout@v6
      - name: Read Terraform Version
        run: echo "TF_VERSION=$(cat .terraform-version)" >> $GITHUB_ENV
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ inputs.aws-assume-role-arn }}
          aws-region: ${{ inputs.aws-assume-role-region }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.terraform-registry-token }}
          terraform_wrapper: false
      - name: Initialize Terraform
        run: terraform init
      - name: Tailscale
        if: inputs.tailscale == true
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.tailscale-client-id }}
          oauth-secret: ${{ secrets.tailscale-secret }}
          tags: ${{ secrets.tailscale-tags }}
          version: 1.82.5
      - name: Terraform Apply
        run: ${{ secrets.terraform-env-vars }} terraform apply -auto-approve -input=false
