name: 'Terraform Destroy'

on:
  workflow_call:
    inputs:
      runs-on:
        description: 'Agent selection string.'
        required: false
        default: 'ubuntu-latest'
        type: string
      confirm:
        description: 'Confirm deletion of Terraform managed resources?'
        required: true
        default: 'false'
        type: string
    secrets:
      aws-assume-role-arn:
        description: 'The AWS Role ARN to assume for Terraform operations.'
        required: true
      aws-assume-role-region:
        description: 'The AWS region to assume IAM in for Terraform operations.'
        required: false
      terraform-registry-token:
        description: 'Terraform registry token to authorize Terraform operations.'
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  terraform-destroy:
    name: 'Terraform Destroy'
    runs-on: ${{ inputs.runs-on }}
    env:
      TF_IN_AUTOMATION: true
    steps:
      - name: Sanity check
        if: github.ref != 'refs/heads/main' || inputs.confirm != 'true'
        run: echo 'Not running against 'main' branch or the action has not been confirmed, exiting.' && exit 1
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.aws-assume-role-arn }}
          aws-region: ${{ secrets.aws-assume-role-region }}
      - name: Read Terraform Version
        run: echo 'TF_VERSION=$(cat .terraform-version)' >> $GITHUB_ENV
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2.0.3
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.terraform-registry-token }}
      - name: Initialize Terraform
        run: terraform init
      - name: Terraform Destroy
        run: terraform destroy -auto-approve -input=false
