name: 'Terraform Apply'

on:
  workflow_call:
    inputs:
      runs-on:
        description: 'Agent selection string.'
        required: false
        default: 'ubuntu-latest'
        type: string
      aws-assume-role-arn:
        description: 'The AWS Role ARN to assume for Terraform operations.'
        required: true
        type: string
      aws-assume-role-region:
        description: 'The AWS region to assume IAM in for Terraform operations.'
        required: true
        type: string
    secrets:
      terraform-registry-token:
        description: 'Terraform registry token to authorize Terraform operations.'
        required: false
      terraform-env-vars:
        description: 'Environment variables to inject into Terraform operations.'
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  terraform-apply:
    name: 'Terraform Apply'
    runs-on: ${{ inputs.runs-on }}
    env:
      TF_IN_AUTOMATION: true
    steps:
      - name: Sanity check
        if: github.ref != 'refs/heads/main'
        run: echo 'Not running against 'main' branch, exiting.' && exit 1
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read Terraform Version
        run: echo "TF_VERSION=$(cat .terraform-version)" >> $GITHUB_ENV
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.aws-assume-role-arn }}
          aws-region: ${{ vars.aws-assume-role-region }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.0.0
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.terraform-registry-token }}
      - name: Initialize Terraform
        run: terraform init
      - name: Terraform Apply
        run: ${{ secrets.terraform-env-vars }} terraform apply -auto-approve -input=false
