name: 'Continuous Integration'

on:
  workflow_call:
    inputs:
      runs-on:
        description: 'Agent selection string.'
        required: false
        default: 'ubuntu-latest'
        type: string
      aws-assume-role-arn:
        description: 'The AWS Role ARN to assume for Terraform operations.'
        required: true
        type: string
      aws-assume-role-region:
        description: 'The AWS region to assume IAM in for Terraform operations.'
        required: true
        type: string
    secrets:
      terraform-registry-token:
        description: 'Terraform registry token to authorize Terraform operations.'
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  continuous-integration:
    name: 'Continuous Integration'
    runs-on: ${{ inputs.runs-on }}
    env:
      TF_IN_AUTOMATION: true
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Read Terraform Version
        run: echo "TF_VERSION=$(cat .terraform-version)" >> $GITHUB_ENV
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ inputs.aws-assume-role-arn }}
          aws-region: ${{ inputs.aws-assume-role-region }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.terraform-registry-token }}
      - name: Check Terraform Format
        run: terraform fmt -check
      - name: Check Terraform Syntax
        run: terraform init && terraform validate
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v5
      - name: Check Terraform Lint
        run: tflint --init && tflint -f compact
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Check Terraform Security (TFsec)
        uses: aquasecurity/tfsec-action@v1.0.3
      - name: Check Terraform Security (Checkov)
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
          framework: terraform
